<?xml version="1.0" encoding="UTF-8"?>

<beans 
		xmlns="http://www.springframework.org/schema/beans"     

		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:p="http://www.springframework.org/schema/p"     
		
		xmlns:context="http://www.springframework.org/schema/context"     
		xmlns:mvc="http://www.springframework.org/schema/mvc" 
		
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd   
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
						http://www.springframework.org/schema/aop 
						http://www.springframework.org/schema/aop/spring-aop-4.2.xsd   
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-4.2.xsd   
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-4.2.xsd">
            
	
    <!-- 配置handler -->
    <bean id="queryItems1" name="/queryItems1s.action" class="wzd.pkg.ssm.controller.ItemsController1"/>
    <bean id="queryItems2" name="/queryItems2s.action" class="wzd.pkg.ssm.controller.ItemsController2"/>
    <bean id="queryItems3" name="/queryItems3s.action" class="wzd.pkg.ssm.controller.ItemsController3"/>
    
    <!-- 注解的handler可以单个配置，也可以一起配置 -->
    	<!-- 单个配置 
    	-->
   	<!-- <bean class="wzd.pkg.ssm.controller.ItemsController4"/> -->
   		<!-- 组件扫描，可以扫描controller、service....... -->
	<context:component-scan base-package="wzd.pkg.ssm.controller">
	
	</context:component-scan>  
	
	
	<!-- 使用注解驱动就不用手工加载处理器映射器RequestMappingHandlerMapping和处理器适配器RequestMappingHandlerAdapter -->
	<mvc:annotation-driven >
	
	</mvc:annotation-driven>
	
    
    
    <!-- 处理器映射器 
    	将bean的name作为url进行查找，需要在配置Handler时指定beanname（就是url）这是默认的处理器映射器
    -->
    
    		<!-- 注解的处理器映射器 -->
    <!-- <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/> -->
    
    		<!-- 非注解的处理器映射器 -->
    <bean
        class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" 
    />
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
        <props>
        <!-- 对queryItems1进行url映射，url是 queryItems1.action和queryItems2.action -->
        <prop key="/queryItems1.action">queryItems1</prop>
        <prop key="/queryItems2.action">queryItems2</prop>
        <prop key="/queryItems3.action">queryItems3</prop>
        </props>
        </property>
    </bean>
    
    <!-- 处理器适配器 
      	 所有的处理器适配器都实现HandlerAdapter接口
    -->
    
    	<!-- 注解的适配器 -->
    <!-- <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/> -->
    	
    	<!-- 非注解的适配器 -->
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
    <bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"/>
    
    
    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    </bean>
    
    
</beans>